@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 74px;
}

.main-content {
  height: calc(100vh - var(--navbar-height));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
